//
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
//Pinout
LOCATE COMP "clk_1M2" SITE "13" ;//PCLKT2_1
LOCATE COMP "clrn" SITE "14" ;//PCLKC2_1
LOCATE COMP "clk_020k" SITE "8" ;//CSSPIN
LOCATE COMP "clk_040k" SITE "9" ;//MCLK
LOCATE COMP "clk_060k" SITE "10" ;//SPISO
LOCATE COMP "clk_080k" SITE "11" ;//PCLKT2_0
LOCATE COMP "clk_100k" SITE "12" ;//PCLKC2_0
LOCATE COMP "E1A" SITE "16" ;
LOCATE COMP "E1B" SITE "17" ;
LOCATE COMP "E2A" SITE "20" ;
LOCATE COMP "E2B" SITE "21" ;
LOCATE COMP "blanking" SITE "5" ;
LOCATE COMP "led" SITE "23" ;
LOCATE COMP "pin1" SITE "28" ;
LOCATE COMP "pin2" SITE "4" ;
//LOCATE COMP "TDO" SITE "1" ;
//LOCATE COMP "TDI" SITE "32" ;
//LOCATE COMP "TCK" SITE "30" ;
//LOCATE COMP "TMS" SITE "29";
//IO type
IOBUF ALLPORTS PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "clrn" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "E1A" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "E1B" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "E2A" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "E2B" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "clk_1M2" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
//Clocks
///Main clock
USE PRIMARY NET "clk_1M2_c" ;
////Output clocks
USE SECONDARY NET "clk_040k_c" ;
USE SECONDARY NET "clk_080k_c" ;
